footer.footer
	.container-fluid
		nav.float-left
			ul
				li
					a(href='')
						| Muhannad
				li
					a(href='')
						| About Us
				li
					a(href='')
						| Blog
				li
					a(href='')
						| Licenses
		.copyright.float-right
			| ©
			script.
				document.write(new Date().getFullYear())
			| , made with 
			i.material-icons favorite
			|  by
			a(href='', target='_blank') Muhannad
			|  for a better web.